.idea
node_modules
coverage

# Lock files (using yarn.lock)
package-lock.json

# Mutation testing reports
.stryker-tmp
reports/mutation
mutation-report.html
mutation-report.json

# VSCode specific files
.vscode/*
!.vscode/extensions.json

# Editor config files
.editorconfig

local/

.env
.env.*
.env.local
.env.*.local
