.idea
node_modules
coverage

# Mutation testing reports
.stryker-tmp
reports/mutation
mutation-report.html
mutation-report.json

# VSCode specific files
.vscode/*
!.vscode/extensions.json

# Editor config files
.editorconfig

local/
