{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "*.test.js",
            "options": {
                "printWidth": 9999
            }
        }
    ]
}
