name: Mutation Test

on:
  workflow_dispatch:

jobs: 
  mutation-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:mutation

      - name: Upload Mutation Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: mutation-report
          path: reports/mutation/
          retention-days: 2

      - name: Extract Score
        id: exctract_score
        if: always()
        run: |
          SCORE=$(node -e "console.log(require('./reports/mutation/mutation-stats.json')).performanceMetrics.mutationScore.toFixed(2);")
          echo "score=$SCORE" >> $GITHUB_OUTPUT
          echo "### Mutation Score: $SCORE%" >> $GITHUB_STEP_SUMMARY
